<table class="students">
<% if @students.empty? %>
  <tr><td><h3>No students match search criteria</h3></td></tr>
<% else %>

    <tr>
      <th>Student</th>
      <th>
      </th>
    <% @students.each do |student| %>
      <tr>
        <td class="student_name"><%= link_to student.name, student_path(student) %></td>
        <td class="student_assn">
          <% if Assignment.where(:student_id => student, :active => true).to_a.empty? %>
            No Assignments
          <% else %>
            Currently assigned to study hall
          <% end %>  
        </td>
      </tr>
    <% end %>

<% end %>
</table>
