<tr>
    <td class="student_del">
    <% if current_user?(student.user) %>

        <%= link_to "delete", student, 
            :method => :delete,
            :confirm => "You sure?",
            :title => student.name %>
    <% end %>
    </td>
    <td class="student_name"><%= link_to student.name, student_path(student) %></td>
    <td class="student_assn"><%= student.assignment %><br />
    
    <span class="timestamp">Created <%= time_ago_in_words(student.created_at)%> ago.</span>
    </td>
    <td class="student_dates">
      <ul>
      <% if student.mlunch? %>
         <li>Monday during lunch</li>
      <% end %>
      <% if student.mafter? %>
        <li>Monday after school</li>
      <% end %>
      <% if student.tlunch? %>
        <li>Tuesday during lunch</li>
      <% end %>
      <% if student.tafter? %>
        <li>Tuesday after school</li>
      <% end %>
      <% if student.wlunch? %>
         <li>Wednesday during lunch</li>
      <% end %>
      <% if student.wafter? %>
        <li>Wednesday after school</li>
      <% end %>
      <% if student.rlunch? %>
        <li>Thursday during lunch</li>
      <% end %>
      <% if student.rafter? %>
        <li>Thursday after school</li>
      <% end %>
      <% if student.flunch? %>
        <li>Friday during lunch</li>
      <% end %>
      <% if student.fafter? %>
        <li>Friday after school</li>
      <% end %>
      </ul>

    </td>

    
</tr>

