<table class="students">
    <tr>
      <td class="student_name">
        <strong>Teacher</strong>
      </td>
      <td class="student_name">
        <strong>Student</strong>
      </td>
      <td class="student_assn">
        <strong>Assignment</strong>      
      </td>
    </tr>
        <% unless @students.empty? %>
          <% @students.each do |student| %>
            <tr><td><%= student.user.name %></td>
            <td><%= student.name %></td>
            <td><%= student.assignment %></td></tr>
          <% end %>
        <% end %>
</table>
