<p class="right">
  <%= render 'shared/student_form'%>
</p>

<hr />

        <%= form_tag students_path, :method => 'get', :id => "student_search" do %>
          <p class="right">
          <!--[if lte IE 9]>Search:<![endif]-->
            <%= text_field_tag :search, params[:search], :placeholder => " Search by name..." %>
          </p>
        <% end %>

<div id="students"><%= render 'students' %></div>


