Hello,
<p>
It appears that you have an assignment that is a bit old. As per policy a student can only be in study hall for one week before the problem is escalated to the administration. If the student has not yet turned in the assignment please contact Eddie.</p>

<ul>
<% @old_assignment_array.each do |assignment| %>
	<li><%= assignment.student.name %> -- <%= assignment.assn %> for <%= assignment.user.name %></li>
<% end %>	
</ul>

<a href="http://studyhall.heroku.com">Study Hall Login</a><br>
