Hello,
<p>
	It appears that you have an assignment that is a outdated. Students should only be in the system for one week.</p>

<ul>
<% @old_assignment_array.each do |assignment| %>
	<li><%= assignment.student.name %> -- <%= assignment.assn %> for <%= assignment.user.name %></li>
<% end %>	
</ul>

Please log into the study hall manager at your earliest convenience: http://studyhall.heroku.com