<h3>Teachers</h3>
<table>
<% if current_user.admin? %>
	<th></th>
<% end %>
	<th></th>
	<th># currently in study hall</th>	
<% @users.each do |user| %>
	<tr>
		  <% if current_user.admin? %>
				<td>		
		    <%= link_to "delete", user, :method => :delete, :confirm => "Are you sure?", :title => "Delete #{user.name}" %>
				</td>
		  <% end %>			
		<td>
			  <%= link_to user.name, user %>
		</td>
		<td>	
			<%= user.assignments.where(:user_id => user, :active => true).to_a.count %>
		</td>
	</tr>
<% end %>
</table>


