<h3>
	      <%= @user.name %>
      </h3>
  <% if @user.students.empty? %>
<p>
    You have no students assigned to study hall.<br />
    Want to <%=link_to "add one", root_path %>?
</p>
  <% else %>

    <table class="students">
    <tr>
      <td class="student_del">&nbsp;</td>
      <td class="student_name">
        <strong>Student</strong>
      </td>
      <td class="student_assn">
        <strong>Assignment</strong>
      </td>
      <td class="student_name">
        <strong>Sessions</strong>
      </td>
    </tr>
      <%= render @students %>
    </table>
     <%= will_paginate @students %>
  <% end %>


