<% if signed_in? %>
<table class="frontpage">
  <tr>
    <td><%= link_to "Attendance Form", '/attendance', :class => "small_dark_blue_button round" %></td>
    <td><%= link_to "My Students", user_path(current_user), :class => "small_light_blue_button round" %></td>
  </tr>
</table>


<% else %>
  <div align="center">
  <h2>Academia Cotopaxi Study Hall Manager</h2> 
  </div>
<table class="frontpage">
  <tr>
    <td>  
      <%= link_to "Sign in", signin_path, :class => "small_dark_blue_button round" %>
    </td>
    <td>
      <%= link_to "Sign up here", signup_path, :class => "small_light_blue_button round"%>
    </td>
  </tr>
</table>

<% end %>
